<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Alquiler de Vehículos JS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#at">Autos</a>
        </li>

      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-light" type="submit">Regístrate</button>
      </form>
    </div>
  </div>
</nav>
<div class="container pt-5 d-none d-xl-block">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/B1.png" class="d-block w-100" alt="./assets/">
        <div class="carousel-caption d-none d-md-block">
          <h5>LA MEJOR FLOTA</h5>
          <p>Nuestros autos están mejor equipados que la competencia, renovamos todos los años.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/B2.png" class="d-block w-100" alt="./assets/">
        <div class="carousel-caption d-none d-md-block">
          <h5>EL MEJOR SERVICIO</h5>
          <p>Indices de satisfacción al 90% promedio en las principales agencias de viajes online.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/B3.png" class="d-block w-100" alt="./assets/">
        <div class="carousel-caption d-none d-md-block">
          <h5>RECONOCIDAS MARCAS </h5>
          <p>Contamos con diversas modelos de distintas marcas que se ajustan a la mejor Tarija.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <h1 id="at" class="text-center pt-5">Autos</h1>
  <div class="row row-cols-1 row-cols-md-3 pt-5 g-4">
    <div class="col">
      <div class="card">
        <img src="./assets/auto.png" class="card-img-top" alt="auto ejemplo">
        <div class="card-body">
          <h5 class="card-title">Audi</h5>
          <p class="card-text">Si sus planes turísticos se resumen en recorrer las carreteras tradicionales, hacer
            shopping o experimentar de los hermosos atractivos de la Ciudad de Panamá el Audi es la mejor opción para
            usted.</p>
          <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Alquilar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/auto.png" class="card-img-top" alt="auto ejemplo">
        <div class="card-body">
          <h5 class="card-title">Audi</h5>
          <p class="card-text">Si sus planes turísticos se resumen en recorrer las carreteras tradicionales, hacer
            shopping o experimentar de los hermosos atractivos de la Ciudad de Panamá el Audi es la mejor opción para
            usted.</p>
          <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Alquilar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/auto.png" class="card-img-top" alt="auto ejemplo">
        <div class="card-body">
          <h5 class="card-title">Audi</h5>
          <p class="card-text">Si sus planes turísticos se resumen en recorrer las carreteras tradicionales, hacer
            shopping o experimentar de los hermosos atractivos de la Ciudad de Panamá el Audi es la mejor opción para
            usted.</p>
          <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Alquilar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/auto.png" class="card-img-top" alt="auto ejemplo">
        <div class="card-body">
          <h5 class="card-title">Audi</h5>
          <p class="card-text">Si sus planes turísticos se resumen en recorrer las carreteras tradicionales, hacer
            shopping o experimentar de los hermosos atractivos de la Ciudad de Panamá el Audi es la mejor opción para
            usted.</p>
          <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Alquilar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/auto.png" class="card-img-top" alt="auto ejemplo">
        <div class="card-body">
          <h5 class="card-title">Audi</h5>
          <p class="card-text">Si sus planes turísticos se resumen en recorrer las carreteras tradicionales, hacer
            shopping o experimentar de los hermosos atractivos de la Ciudad de Panamá el Audi es la mejor opción para
            usted.</p>
          <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Alquilar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/auto.png" class="card-img-top" alt="auto ejemplo">
        <div class="card-body">
          <h5 class="card-title">Audi</h5>
          <p class="card-text">Si sus planes turísticos se resumen en recorrer las carreteras tradicionales, hacer
            shopping o experimentar de los hermosos atractivos de la Ciudad de Panamá el Audi es la mejor opción para
            usted.</p>
          <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Alquilar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Orden de Alquiler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="card-title text-center">Audi</h4>
        <img src="./assets/auto.png" class="card-img-top" alt="auto ejemplo">
        <p class="card-text text-center">Tarifa Diaria Paquete Two, One Free Incluye coberturas básicas y Exoneración
          del Deducible.</p>
        <h5>Costo Total Estimado:</h5>
        <h3 class="text-end">US$ 95.08</h3>
        <div class="input-group mb-3">
          <label for="" class="form-label">Nombre:</label>
          <div class="input-group mb-3">

            <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Nombre">
          </div>
        </div>
        <label for="" class="form-label">Email:</label>
        <div class="input-group mb-3">

          <input type="text" class="form-control" placeholder="email" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>






      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Alquilar</button>
      </div>
    </div>
  </div>
</div>

<section class="pt-5">

  <footer class="text-center text-white" style="background-color: #1a1a1a;">
    <div class="container p-4 pb-0">

      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-light btn-rounded">
            Regístrate
          </button>
        </p>
      </section>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="">AlquilerdeVehículosJS</a>
    </div>

  </footer>

</section>


<router-outlet></router-outlet>